{{range .}}
{{ .NewRow}}
  <div class="{{.ColWid}}">
  	<h2>{{.Header}}</h2>
		<img id="{{.ID}}" src="{{.URL}}">
		<p id="{{.PID}} src ="{{.Paragraph}}">
		<script>
			var {{.MyVar}} = setInterval({{.Func}},{{.Rate}})
		function {{.Func}}(){
			var d = new Date();
			
			 document.getElementById("{{.ID}}").src= "{{.URL}}"+d.toLocaleTimeString();
			 document.getElementById("{{.PID}}").src="{{.Paragraph}}"+d.toLocaleTimeString();
		}
        </script>
</div>
{{ .EndRow}}
{{end}}